@model RepairAnywhere.Models.AdminViewModel.ViewActiveServiceViewModel


@{ var count = 0;}



@foreach (var item in @Model.requests)
{
    
        <div class="panel panel-green ">
                        <div class="panel-heading ">
                            @if (@Model.status=="Completed")
	{
		  @:Completed Services
	}

                            @if (@Model.status == "Active")
	{
		  @:Active Services
	}
                           
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
	
					<table width="100%">
									<tr>
									<td width="50%">
										<h4>Details</h4>
										<p>Category: @item.Category<br />
                                            Problem Description: @item.Description<br />
										Location: @item.Address<br/>
                                            Date of Request: @item.Date 
			
										Point: <br/>
										<br/>
										**For more detailed information, please call: 01913531384, 01913531517, 01977885507, 01914602965, 01939912533, 01937402947
										<br/>• Call us within 10 am to 4 pm from Sunday to Thursday<br/><br/><br/>
										
										<b>Status: @item.Status<br/>
									Service Charge:@{ if (@item.Cost==0)
                         {
                             @:Not yet set <br />
                                           
                         }
                         else{ @item.Cost }}
										</b></p>
									</td>
									<td>
										<img class="rounded" width="70%" src="../img/p5.jpg"/>
									</td>
									</tr>
									</table>
                            <hr />
                            <hr />
                            <table style="cursor:pointer" onclick="window.location='@Url.Action("viewprofilecustomer", "Admin", new { id=@item.CustomerID})';">
										<tr>
											<td width="30%">
											<img class="rounded-circle" width="70%" src="~/Styles/Repairman/img/user_pic.jpg"/>
											</td>
											<td style="text-align:center">
												<table width="100%">
													<tr>
														<td  style="text-align:center" width="40%">
															<h4>Customer: @Model.customers[count].Name</h4>
														</td>
													</tr>
													<tr>
														
														<td style="text-align:center">
															Contact No: @Model.customers[count].PhoneNumber
														</td>
													</tr>
												</table>
											</td>
											<td>
											</td>
										</tr>
									</table>
                            
                            <hr />
                            <hr />
                             <table style="cursor:pointer" onclick="window.location='@Url.Action("viewprofileservice", "Admin", new { id=@item.RepairmanID})';">
										<tr>
											<td width="30%">
											<img class="rounded-circle" width="70%" src="~/Styles/Repairman/img/user_pic.jpg"/>
											</td>
											<td style="text-align:center">
												<table width="100%">
													<tr>
														<td  style="text-align:center" width="40%">
															<h4>Repairman: @Model.repairmen[count].Name</h4>
														</td>
													</tr>
													<tr>
														
														<td style="text-align:center">
															Contact No: @Model.repairmen[count].PhoneNumber
														</td>
													</tr>
												</table>
											</td>
											<td>
											</td>
										</tr>
									</table>
           
                        </div>
                        <!-- /.panel-body -->
                    </div>
    count++;
}
	
			
	