@model RepairAnywhere.Models.AdminViewModel.ViewPendingServiceViewModel

<link href="~/Styles/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Styles/Admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="~/Styles/Admin/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="~/Styles/Admin/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Styles/Admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Styles/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<div class="panel panel-primary ">
                        <div class="panel-heading ">
                            Detailed Service
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
	
					<table width="100%">
									<tr>
									<td width="50%">
										<h4>Details</h4>
										<p>Category: @Model.request.Category<br />
                                            Problem Description: @Model.request.Description<br />
										Location: @Model.request.Address<br/>
                                            Date of Request: @Model.request.Date 
			
										<br/>
										<br/>
										**For more detailed information, please call: 01913531384, 01913531517, 01977885507, 01914602965, 01939912533, 01937402947
										<br/>• Call us within 10 am to 4 pm from Sunday to Thursday<br/><br/><br/>
										
										<b>Status: @Model.request.Status<br/>
									Service Charge: Not Set yet
										</b></p>
									</td>
									<td>
										<img class="rounded" width="70%" src="../img/p5.jpg"/>
									</td>
									</tr>
									</table>
                            <hr />
                            <table>
										<tr>
											<td width="30%">
											<img class="rounded-circle" width="70%" src="~/Styles/Admin/img/user_pic.jpg"/>
											</td>
											<td style="text-align:center">
												<table width="100%">
													<tr>
														<td  style="text-align:center" width="40%">
															<h4>Customer: @Model.customer.Name</h4>
														</td>
													</tr>
													<tr>
														
														<td style="text-align:center">
															Contact No: @Model.customer.PhoneNumber
														</td>
													</tr>
												</table>
											</td>
											<td>
											</td>
										</tr>
									</table>
           
                        </div>
    <hr />
						<div style="padding-left:20px;padding-bottom:20px">
						<a href="@Url.Action("deleteRequest", "Admin", new { id = @Model.request.RequestID })"><button class="btn btn-danger" >Delete Request</button></a>
						</div>
    <hr />

                        <!-- /.panel-body -->
    

    
            
            <!-- /.row -->
               
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Repairman</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Rating</th>
                                        <th>Address</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (@Model.repairmanActive != null)
                                    {
                                        <tr class="odd gradeX">
                    <td><a href="@Url.Action("viewprofileservice", "Admin", new { id = @Model.repairmanActive.RepairmanID })">@Model.repairmanActive.Name</a></td>
                    <td>@Model.repairmanActive.Email</td>
                    <td>@Model.repairmanActive.PhoneNumber</td>
                    <td>
                        @for (int i = 0; i < @Model.repairmanActive.Rating; i++)
                                                                    {
                                                                        <i class="fa fa-star" style="font-size: 20px;color:orange"></i>
                                                                    }
                                                                
                                                                    @for (double i = @Model.repairmanActive.Rating; i < 5; i++)
                                                                    {
                                                                        <i class="fa fa-star" style="font-size: 20px;color:black"></i>
                                                                    }
                    </td>

                    <td >@Model.repairmanActive.Address</td>
                    <td class="center"><a href="@Url.Action("undoRepairman", "Admin", new { id = @Model.request.RequestID,rid=@Model.repairmanActive.RepairmanID })"><button class="btn btn-danger" >Undo</button></a></td>
                </tr>
                                    }
                                    @foreach (var item in @Model.repairmen)
                {
                    <tr class="odd gradeX">
                    <td><a href="@Url.Action("viewprofileservice", "Admin", new { id = @item.RepairmanID })">@item.Name</a></td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                         @for (int i = 0; i < @item.Rating; i++)
                                                                    {
                                                                        <i class="fa fa-star" style="font-size: 20px;color:orange"></i>
                                                                    }
                                                                
                                                                    @for (double i = @item.Rating; i < 5; i++)
                                                                    {
                                                                        <i class="fa fa-star" style="font-size: 20px;color:black"></i>
                                                                    }
                    </td>
                    <td >@item.Address</td>
                    <td class="center"><a href="@Url.Action("assignRepairman", "Admin", new { id = @Model.request.RequestID,rid=@item.RepairmanID })"><button class="btn btn-primary" >Assign</button></a></td>
                </tr>
                }
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
            
            
            
      

    
                    </div>

<script src="~/Styles/Admin/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Styles/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Styles/Admin/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="~/Styles/Admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Styles/Admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Styles/Admin/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Styles/Admin/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    
			
