@model RepairAnywhere.Models.RepairmanViewModel.ViewProfileViewModel
	
	
			<div class="row">
            <div class="col-lg-12">
                    <h2 class="page-header">View Profile</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			
			<div class="row">
            <div class="col-md-8">
				<table class="table table-striped" style="height: 250px">
					<tr>
					  <td width="40%">Name</td>
					  <td class="text-justify">@Model.repairman.Name</td>
					</tr>
					<tr >
					  <td width="40%">Email</td>
					  <td class="text-justify">@Model.repairman.Email</td>
					</tr>
					<tr >
					  <td width="40%">Address</td>
					  <td>
						@Model.repairman.Address
					  </td>
					</tr>
					<tr >
					  <td width="40%">Phone number</td>
					  <td class="text-justify">@Model.repairman.PhoneNumber</td>
					</tr>
				  </table>
          
             
              
            
			</div>
               
			   
			
			
            </div>
			
			  <br/>
			  <a href="@Url.Action("editProfile")"><button class="btn btn-success text-uppercase" >Edit</button></a>
			