@model RepairAnywhere.Models.CustomerViewModel.DashboardViewModel

    <div class="container-fluid">
      <!-- Breadcrumbs
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden  "> <!--h-100-->
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-comments"></i>
              </div>
              <div class="mr-5">26 New <br />Report</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-list"></i>
              </div>
              <div class="mr-5">11 Pending <br />Report</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-shopping-cart"></i>
              </div>
              <div class="mr-5">123 Completed Report</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="completedrepairs.html">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-danger o-hidden ">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-support"></i>
              </div>
              <div class="mr-5">13 Failed <br />Report</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
	  <!--active-->
        @{ var count = 0; }
        @foreach (var item in @Model.ActiveRequests)
        {
            <div class="card ">
                        <div class="card-header bg-primary text-white">
                            <b>Active Service</b>
                        </div>
                        
						<div class="card-block">
						<div style="padding:10px">
                                    <p>
                                        <img class="rounded-circle" width="10%" src="../images/user_pic.jpg"/> &nbsp &nbsp &nbsp <strong style="font-size:20px"> @Model.ActiveRepairman[count].Name</strong><!--<img class="rounded" style="padding-left:15%" width="40%" src="../img/p1.jpg"/>-->
                                        <span class="pull-right text-muted" style="font-size:16px"><br/>@Model.customer.Address<br/>Requested At: @item.RequestDate</span>
                                    </p>
									<i>Phone no: @Model.ActiveRepairman[count].PhoneNumber</i>
									<hr/>
									<b style="font-size:16px">
									Status: @item.Status<br/>
									Service Charge: @item.Cost</b>
									<button class="pull-right btn btn-primary" onclick="window.location='tripsdetails.html'">View</button>
                                </div>
						</div>
                        
                    </div><br />
            count++;
        
        }

        @foreach (var item in @Model.PendingRequests)
        {
            <div class="card ">
                        <div class="card-header bg-warning text-white">
                            <b>Pending Service</b>
                        </div>
                        
						<div class="card-block">
						<div style="padding:10px">
                                    <p>
                                         &nbsp &nbsp &nbsp <strong style="font-size:20px"> @item.RequestDescription</strong><!--<img class="rounded" style="padding-left:15%" width="40%" src="../img/p1.jpg"/>-->
                                        <span class="pull-right text-muted" style="font-size:16px"><br/>@Model.customer.Address<br/>Requested At: @item.RequestDate</span>
                                    </p>
									@*<i>Phone no: @Model.ActiveRepairman[count].PhoneNumber</i>*@
									<hr/>
									<b style="font-size:16px">
									Status: @item.Status<br/>
									Service Charge:Not yet set</b>
									<button class="pull-right btn btn-primary" onclick="window.location='tripsdetails.html'">View</button>
                                </div>
						</div>
                        
                    </div><br />
        }
				
					

					
		
	  
      
    
  
