@model RepairAnywhere.Models.CustomerViewModel.DashboardViewModel

    <div class="container-fluid">
      <!-- Breadcrumbs
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
      </ol>
          
      <!-- Icon Cards-->
        </div>
      
	  <!--active-->
        @{ var count = 0; }
        @foreach (var item in @Model.ActiveRequests)
        {
            <div class="card ">
                        <div class="card-header bg-primary text-white">
                            <b>Active Service</b>
                        </div>
                        
						<div class="card-block">
						<div style="padding:10px">
                                    <p>
                                        <img class="rounded-circle" width="10%" src="../images/user_pic.jpg"/> &nbsp &nbsp &nbsp <strong style="font-size:20px"> @Model.ActiveRepairman[count].Name</strong><!--<img class="rounded" style="padding-left:15%" width="40%" src="../img/p1.jpg"/>-->
                                        <span class="pull-right text-muted" style="font-size:16px"><br/>@item.Address<br/>Requested At: @item.Date</span>
                                    </p>
									<i>Phone no: @Model.ActiveRepairman[count].PhoneNumber</i><br />
                                    @{ int i = 0;}
                                                            Rating
                                                            @for (i = 0; i < @Model.ActiveRepairman[count].Rating; i++)
                                                            {
                                                                <i class="fa fa-star" style="font-size: 20px;color:orange"></i>
                                                            }
                                                            @for (; i < 5; i++)
                                                            {
                                                                <i class="fa fa-star" style="font-size: 20px;color:black"></i>
                                                            }
									<hr/>
									<b style="font-size:16px">
									Status: @item.Status<br/>
									Service Charge: @item.Cost</b>
									<a href="@Url.Action("tripsdetails", "Customer", new { id = @item.RequestID })"><button class="pull-right btn btn-primary" >View</button></a>
                                </div>
						</div>
                        
                    </div><br />
            count++;
        
        }
        @{var c = 0;}

        @foreach (var item in @Model.PendingRequests)
        {
            <div class="card ">
                        <div class="card-header bg-warning text-white">
                            <b>Pending Service</b>
                        </div>
                        
						<div class="card-block">
						<div style="padding:10px">
                                    <p>
                                         &nbsp &nbsp &nbsp <strong style="font-size:20px"> @item.Description</strong><!--<img class="rounded" style="padding-left:15%" width="40%" src="../img/p1.jpg"/>-->
                                        <span class="pull-right text-muted" style="font-size:16px"><br/>@item.Address<br/>Requested At: @item.Date</span>
                                    </p>
									@*<i>Phone no: @Model.ActiveRepairman[count].PhoneNumber</i>*@
									<hr/>
									<b style="font-size:16px">
									Status: @item.Status<br/>
									Service Charge:Not yet set</b>
									<a href="@Url.Action("tripsdetails", "Customer", new { id = @item.RequestID })"><button class="pull-right btn btn-primary" >View</button></a>
                                </div>
						</div>
                        
                    </div><br />
            c = 1;
        }

        @if ((c==0)&&(count==0))
        {
            <h4>There are no Active or Pending Requests</h4>
        }
				
					

					
		
	  
      
    
  
