@model RepairAnywhere.Models.CustomerViewModel.MyServicesViewModel


 

    <div class="container-fluid">
      <!-- Breadcrumbs
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
      </ol>
	  -->
      <div class="row">

         
	  
  @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
  
        <div class="col-12  ">
            @{var count=0;}
				@foreach (var item in @Model.requests)
    {
        
					<div class="card">
                        <div class="card-header bg-primary text-light ">
                            Problem
                        </div>
                        <!-- /.panel-heading -->
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                
                                <li class="nav-item"><a class="nav-link active" href="#Details1" data-toggle="tab">Details</a>
                                </li>
								
                                <li class="nav-item"><a class="nav-link" href="#Driver1" data-toggle="tab">Service Provider</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
								<div class="tab-pane  in active" id="Details1">
									<table width="100%">
									<tr>
									<td width="50%">
										<h4>Details</h4>
										<p>Category: @item.Category<br />
                                            Problem Description: @item.RequestDescription<br />
										Location: @Model.customer.Address<br/>
                                            Date of Request: @item.RequestDate 
										
										
										<br/>
										<br/>
										**For more detailed information, please call: 01913531384, 01913531517, 01977885507, 01914602965, 01939912533, 01937402947
										<br/>• Call us within 10 am to 4 pm from Sunday to Thursday<br/><br/><br/>
										
										<b>Status: @item.Status</b></p>
									</td>
									<td>
										<img class="rounded" width="70%" src="../images/p5.jpg"/>
									</td>
									</tr>
									</table>
								</div>
                                
                                
                                <div class="tab-pane fade" id="Driver1">
                                    <h4>Service Provider</h4>
									<table>
										<tr>
											<td width="30%">
											<img class="rounded-circle" width="70%" src="../images/user_pic.jpg"/>
											</td>
											<td style="text-align:center">
												<table width="100%">
													<tr>
														<td  style="text-align:center" width="40%">
															<h4>@Model.repairmen[count].Name</h4>
														</td>
														<td style="text-align:center">
															Completed Services:@Model.completecount[count]
														</td>
													</tr>
													<tr>
														<td style="text-align:center">Rating
                                                            @for (int i = 0; i < @Model.rating[count]; i++)
                                                            {
                                                                <i class="fa fa-star" style="font-size: 20px;color:#FFDF00"></i>
                                                            }
														</td>
														<td style="text-align:center">
															Contact No: @Model.repairmen[count].PhoneNumber
														</td>
													</tr>
													<tr>
														<td style="text-align:center" colspan="2">
															<br/>
															<br/>@*
                                                            @using (Html.BeginForm("changePassword", "Customer", FormMethod.Post))
                                        {	
															<h4> Give Review</h4>
															<textarea name="review" height="50px" width="150px"></textarea><br/> <br/>
															<button type="submit" class="btn btn-primary">Submut</button>
                                                            }*@
														</td>
													</tr>
												</table>
											</td>
											<td>
											</td>
										</tr>
									</table>
									
                                </div>
                            </div>
                        </div>
						<div class="card-footer">
						<h3>Total Charge: @item.Cost</h3>
						</div>
                        <!-- /.panel-body -->
                    </div>

            <br />
					
				}	
            @if (count==0)
            {
                <h4>There are no Completed Requests</h4>
            }
					
					
        </div>
      </div>
    </div>
    
    
