@model RepairAnywhere.Models.CustomerViewModel.TripsDeailsViewModel

   <div class="card cta cta--featured">
		  <span class="header-line gradient-color-1"></span>
		  
		  <div class="card-block">
					<table width="100%">
									<tr>
									<td width="50%">
										<h4>Details</h4>
										<p>Category: @Model.request.Category<br />
                                            Problem Description: @Model.request.Description<br />
										Location: @Model.request.Address<br/>
                                            Date of Request: @Model.request.Date 
										
										
										
										<br/>
										<br/>
										**For more detailed information, please call: 01913531384, 01913531517, 01977885507, 01914602965, 01939912533, 01937402947
										<br/>• Call us within 10 am to 4 pm from Sunday to Thursday<br/><br/><br/>
										
										<b>Status: @Model.request.Status<br/>
									Service Charge: @{ if (@Model.request.Cost==0)
                         {
                             @:Not yet set
                         }
                                            else{ @Model.request.Cost }}
										</b></p>
									</td>
									<td>
										<img class="rounded" width="70%" src="../images/p5.jpg"/>
									</td>
									</tr>
									</table>
									<hr/>
              @if (@Model.request.Status!="Pending")
              {
                 
									<table>
										<tr>
											<td width="30%">
											<img class="rounded-circle" width="70%" src="~/Styles/Customer/images/user_pic.jpg"/>
											</td>
											<td style="text-align:center">
												<table width="100%">
													<tr>
														<td  style="text-align:center" width="40%">
															<h4>Repairman: @Model.repairman.Name</h4>
														</td>
														<td style="text-align:center">
															Completed Repairs: @Model.count
														</td>
													</tr>
													<tr>
														
														<td style="text-align:center">
															Contact No: @Model.repairman.PhoneNumber
														</td>
													</tr>
													<tr>
														<td  style="text-align:center" colspan="2">
															<br/>
															<br/>
														</td>
													</tr>
                                                    <tr>
														<td  style="text-align:center" colspan="2">
															<br/>
															<br/>
															<button onclick="window.location='@Url.Action("viewserviceprovider", "Customer", new { id = @Model.repairman.RepairmanID })';" class="btn btn-secondary" >Reviews</button>
														</td>
													</tr>
												</table>
											</td>
											<td>
											</td>
										</tr>
									</table>
              }
              @if (@Model.request.Status=="Pending")
              {
                  <h4>Repairman Not Yet Assigned</h4><br /><br />
                  <a href="@Url.Action("deleteRequest", "Customer", new { id = @Model.request.RequestID })"><button  class="btn btn-danger text-light" >Delete Request</button></a>
              }

		  </div>
		</div>
    
    
