@model RepairAnywhere.Models.CustomerViewModel.ViewServiceProviderViewModel

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400">
<style>


* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

body { background: #000; }

.cont {
  width: 93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #111;
  color: #EEE;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

hr {
  margin: 20px;
  border: none;
  border-bottom: thin solid rgba(255,255,255,.1);
}

div.title { font-size: 2em; }

h1 span {
  font-weight: 300;
  color: #Fd4;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
</style>
 

<style>
td {text-align:center}
</style>

    <div class="container-fluid">
      <!-- Breadcrumbs
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
      </ol>
	  -->
      <div class="row">
        <div class="col-12">
		<table width="70%" class="center" style="margin: 0px auto;" >
				<tr>
					<td colspan="2">
						  <img src="~/Styles/Customer/images/user_pic.jpg" style="width:12%" class="rounded-circle">
						  <h2>@Model.repairman.Name</h2>
						  <br/>
						  <br/>
					</td>
				</tr>
				<tr>
					
					<td width="50%">
						<div style="margin: 0px auto;width:60%" class="card bg-secondary text-white">
						<b>Experience</b>
						<p>@Model.experience</p>
						</div>
						<br/>
						<br/>
					</td>
					<td >
						<div style="margin: 0px auto;width:65%" class="card bg-secondary text-white">
						<b>Completed Services</b>
						<p>@Model.completed</p>
						</div>
						<br/>
						<br/>
					</td>
					
					
				</tr>
				<tr>
					<td  ><input type="button" class="btn btn-outline-primary" value="Show Phone No." onclick="change()" id="myButton1"/><br/><br/></td>
                    <td>Rating<br />
                         @for (int i = 0; i < @Model.repairman.Rating; i++)
                                                                    {
                                                                        <i class="fa fa-star" style="font-size: 20px;color:orange"></i>
                                                                    }
                                                                
                                                                    @for (double i = @Model.repairman.Rating; i < 5; i++)
                                                                    {
                                                                        <i class="fa fa-star" style="font-size: 20px;color:black"></i>
                                                                    }
                    </td>
				</tr>
            @if (@Model.flag==0)
            {
                <tr>
					<td colspan="2">
                         <div class="stars">
                            @using (Html.BeginForm("changeRate", "Customer", new { r = @Model.repairman.RepairmanID, c = @Model.customer.CustomerID, page="viewserviceprovider" }, FormMethod.Post))
                            {	
                            <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                            <label class="star star-1" for="star-1"></label>
                                                                     
                                <textarea placeholder="Review" name="comment" style="width:100%;height:auto" class="rounded"></textarea>
                                                                    
                                                                     
                                <button type="submit" class="btn btn-primary">Submit</button>
                            }
                        </div>
					</td>
				</tr>
            }
				
				<tr>
					<td colspan="2">
					<br/>
						<b>Reviews</b><br/><br/>
						<table class="table table-primary table-striped">
                            
                                @foreach (var item in @Model.reviews) 
                                {
                                    if (item.CustomerID==Model.customer.CustomerID)
                                    {
                                        <tr >
								<td width="10%"><img src="~/Styles/Customer/images/user_pic.jpg" style="width:100%" class="rounded-circle"> <b>@Model.customer.Name</b></td>
								<td class="text-justify">

                                    @for (int i = 0; i < @item.Rating; i++)
                                                                    {
                                                                        <i class="fa fa-star" style="font-size: 20px;color:orange"></i>
                                                                    }
                                                                
                                                                    @for (double i = @item.Rating; i < 5; i++)
                                                                    {
                                                                        <i class="fa fa-star" style="font-size: 20px;color:black"></i>
                                                                    }
                                    <br />@item.Comment</td>
                                    <td style="text-align:right;"><a href="@Url.Action("deleteReview", "Customer", new { rid = @Model.repairman.RepairmanID,revid=@item.ReviewID })"><i style="font-size:25px" class="fa fa-trash" aria-hidden="true"></i></a></td>
							</tr>
                                    }
                                
                                }
                            

                            @{int c = 0;}
                            @foreach (var item in @Model.reviews)
                            {
                                if (item.CustomerID!=Model.customer.CustomerID)
                                    {
                                <tr >
								<td width="10%"><img src="~/Styles/Customer/images/user_pic.jpg" style="width:100%" class="rounded-circle"> <b>@Model.customers[c].Name</b></td>
								<td class="text-justify">@item.Comment</td>
                                    <td></td>
							</tr>
                            }
                                c++;
                            }
							
						</table>
					</td>
				</tr>
			
		</table>
			
		  
		  
        </div>
      </div>
    </div>
	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Send Message</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
			<table width="100%">
				<tr>
					<td>To:<br/><br/><br/></td>
					<td ><button type="submit" class="btn float-left" style="cursor:default;">Tasfi</button><br/><br/><br/></td>
				</tr>
				<tr>
					<td>Message:</td>
					<td><textarea id="message" name="message" style="width:100%;height:100px" placeholder="Write something.." ></textarea></td>
				</tr>
			</table>
				
		  </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" onclick="" data-dismiss="modal" data-toggle="modal" data-target="#successfulModal">Send</button>
          </div>
        </div>
      </div>
    </div>
    
    
	<script>
function change()
{
    document.getElementById("myButton1").value="@Model.repairman.PhoneNumber"; 
}
</script>
